*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  box-sizing: inherit; }

html {
  font-family: 'Roboto', sans-serif;
  color: #1a1a1a;
  font-size: 16px;
  line-height: 1.75;
  box-sizing: border-box; }
