.land-dash__container {
  width: 76rem;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  grid-row-gap: 16px; }

.card {
  max-width: 393px;
  border: 1px solid #C1C8DA;
  padding: 15px; }
  .card iframe {
    border: none;
    display: block; }
  .card__thumb {
    width: 100%;
    border: 1px solid #ddd;
    box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.1);
    transition: all .3s; }
    .card__thumb:hover {
      box-shadow: 0 0 12px 5px rgba(0, 0, 0, 0.1); }
  .card__link {
    display: block; }
  .card__image {
    display: block;
    width: 100%;
    height: auto; }
  .card__title {
    text-align: center;
    margin-top: 20px;
    line-height: 26px;
    font-size: 19px;
    font-weight: 700; }
    .card__title a {
      color: #5E87FF;
      text-decoration: none;
      transition: all .5s ease; }
      .card__title a:hover {
        color: #6DA5FF; }
  .card__date {
    text-align: center;
    font-size: 13px;
    color: #A0A0A0; }
